.chat-bar{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    background-color: var(--text-color);
    width: 75vw;
    min-width: 375px;
    max-width: 1000px;
    border-radius: 16px;
    transition: height 0.2s ease-in-out;
}

.chat-bar .button{
    border: none;
    margin: 0 auto;
    width: 36px;
    height: 36px;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--primary-bg-color);
}
.chat-bar .button:hover{
    background-color: var(--secondary-bg-color);
    transition: background-color 0.3s;
}

.chat-bar .button svg{
    width: 18px;
    height: auto;
    color: var(--text-color);
}

.chat-bar textarea{
    color: var(--secondary-bg-color);
    font-size: 16px;
    padding: 15px 0;
    border: none;
    font-family: 'Roboto-Regular';
    background: none;
    resize: none;
    outline: none;
    flex:0.8;
    height: 16px;
    max-height: 15vh;
    overflow-y: scroll; 
    align-self: center;
}

.chat-bar textarea::placeholder{
    color: var(--secondary-bg-color);
    font-family: 'Roboto-Regular';
    font-size: 16px;
}

.chat-bar .image-preview{
    position: absolute;
    bottom:50px;
    background-color: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    width: 15vw;
    min-width: 100px;
    max-width: 200px;
    height: auto;
    padding: 5px 0.5vw;
    border-radius: 10px;
}

.chat-bar .image-preview .close.button{
    background-color: transparent;
    margin: 0;
    padding: 0;
    align-self: flex-end;
    width: 20px;
    height: 15px;
}

.chat-bar .image-preview .close.button svg{
    color: var(--text-color);
    width: 100%;
    height: 100%;
}

.chat-bar .image-preview .close.button:hover{
    filter: brightness(0.8);
    transition: filter 0.3s;
}

.chat-bar .image-preview img{
    margin: 10px;
    width: calc(100% - 10px);
    height: auto;
    align-self: center;
    border-radius: 5px;
}