:root{
    --primary-bg-color: #2E2E3A;
    --secondary-bg-color: #1F1F28;
    --title-color: #D4B573;
    --text-color: #E0E0E0;
    --enhance-red: #ff8164;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Outfit-Bold';
    src: url(../fonts/Outfit-Bold.ttf);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg-color);
}